{{#each this}}
<h2 class="title">{{name}}</h2>
<div class="country-item">
    <div class="item-content">
        <p class="item">Capital: {{capital}}</p>
        <p class="item">Population: {{population}}</p>
        <p class="item">Languages:</p>
        <ul>
            {{#each languages}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <img src="{{flag}}" alt=" flag of {{name}}" style="width: 300px">
</div>
{{/each}}